.adduseragemain{
    padding: 15px ;
    height: 100%;
}

.adduserdiv{
    background:white;
    text-align: center;  
}

.addusertitle{
    width: 100%;
    float: left;
    padding-left:10px;
    padding-top: 10px;
    text-align: left;
}

#newuserbutton{
    
    float: left;
    margin-left:10px;
}

.usertable{
    padding: 10px;
}

.collection-create-form_last-form-item {
    margin-bottom: 0;
  }