.header {
  background: #10239e;
}

.title-header {
  color: white;
}
.content {
  background: white;
}

.login-title {
  padding: 100px;
  margin-top: 200px;
}

.input-login {
  width: 400px;
  height: 50px;
}

#login-pic {
  height: 100%;
  width: 100%;
}
